*data1_2

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/*
.ipynb_checkpoints/
*.py[cod]
*$py.class
test_dataset_all
# C extensions
*.so

inference/
inference_results/
output/
train_data/
log/
*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea

*.log
.clang-format
.clang_format.hook
optimize_kv_embedding.py
extract_ser_re_debug.py
val_20231031.json
test_dataset/20230906_bounding_box/
test_dataset/expected_input/
image/
debugs/
.dist/
*.bash
*.zip
build/
dist/
paddleocr.egg-info/
/deploy/android_demo/app/OpenCV/
/deploy/android_demo/app/PaddleLite/
/deploy/android_demo/app/.cxx/
/deploy/android_demo/app/cache/
test_tipc/web/models/
test_tipc/web/node_modules/